<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.BoardMapper">

<!-- 게시글 작성 DB 저장 -->
<insert id="upload" parameterType="com.smhrd.model.BoardDTO">
	insert into post_info (post_content,post_img,posted_at,user_id)
	values(#{post_content},#{post_img},sysdate,#{user_id})
</insert>

<insert id="uploadTag1" parameterType="com.smhrd.model.BoardDTO">
	insert into post_info (post_content,post_img,posted_at,user_id,shoe_tag1)
	values(#{post_content},#{post_img},sysdate,#{user_id},#{shoe_tag1})
</insert>

<insert id="uploadTag2" parameterType="com.smhrd.model.BoardDTO">
	insert into post_info (post_content,post_img,posted_at,user_id,shoe_tag1,shoe_tag2)
	values(#{post_content},#{post_img},sysdate,#{user_id},#{shoe_tag1},#{shoe_tag2})
</insert>

<insert id="uploadTag3" parameterType="com.smhrd.model.BoardDTO">
	insert into post_info (post_content,post_img,posted_at,user_id,shoe_tag1,shoe_tag2,shoe_tag3)
	values(#{post_content},#{post_img},sysdate,#{user_id},#{shoe_tag1},#{shoe_tag2},#{shoe_tag3})
</insert>

<select id = "showboard" resultType = "com.smhrd.model.BoardDTO">
select * from post_info
</select>

<select id = "postuser" parameterType ="String" resultType="com.smhrd.model.UserDTO">
select * from user_info where user_id = 'test'
</select>

<select id="showDetail" parameterType ="Double" resultType="com.smhrd.model.BoardDTO">
select * from post_info where post_idx=#{post_idx}
</select>

<select id="countPost" parameterType ="String" resultType ="int">
select count(*) from post_info where user_id=#{user_id}
</select>

<select id="id_post" parameterType ="String" resultType ="com.smhrd.model.BoardDTO">
select * from post_info where user_id=#{user_id}
</select>
</mapper>
