<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.CommentMapper">

<!-- 댓글 저장하는 메서드 -->
<insert id="comment" parameterType="com.smhrd.model.CommentDTO">
	insert into comment_info (POST_IDXF,CMT_CONTENT,CREATED_AT,USER_ID)
	values(#{post_idxf},#{cmt_content},sysdate,#{user_id})
</insert>

<!-- 댓글 출력하는 메서드 -->
<select id = "showComment"  parameterType="Double" resultType ="com.smhrd.model.CommentDTO">
select * from comment_info where post_idxf=#{post_idxf}
</select>

<delete id="delpost_comment">
DELETE FROM comment_info WHERE post_idxf= #{post_idxf}
</delete>
</mapper>