<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.ShoesMapper">

<select id = "showShoes" resultType = "com.smhrd.model.ShoesDTO">
select * from shoes_info
</select>

<select id = "shoeName" resultType = "String">
select shoe_name from shoes_info where shoe_tag=#{shoe_tag}
</select>


</mapper>