<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user.UserMapper">

 <!-- 로그인-->
	<select id="login" parameterType="com.smhrd.model.UserDTO" resultType="com.smhrd.model.UserDTO">
		select * from USER_INFO where user_id= #{user_id} and user_pw = #{user_pw}
	</select>
	
	<!-- 네이버 로그인 검사 -->
	<select id="naverlogin" parameterType="com.smhrd.model.UserDTO" resultType="com.smhrd.model.UserDTO">
		select * from USER_INFO where user_id= #{user_id}
	</select>
	
    <!-- 회원가입-->
	<insert id="join" parameterType="com.smhrd.model.UserDTO">
		insert into
		USER_INFO(user_id,user_pw,user_name,user_phone,user_email,user_nick,user_rank,joined_at,admin_yn,user_profile_img)
		values(#{user_id}, #{user_pw}, #{user_name}, #{user_phone},
		#{user_email}, #{user_nick}, #{user_rank}, sysdate, #{admin_yn},'img/profile.png')
	</insert>
	
	 
    <!-- 아이디 중복 확인 -->
    <select id = "checkID" parameterType = "String" resultType="boolean">
    select case when count(*)>0 then 1 else 0 end result from user_info where user_id = #{user_id}
    </select>
    
      <select id="usernick" parameterType="String" resultType="String">
		select user_nick from USER_INFO where user_id= #{user_id}
	</select>
    
</mapper>