<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginService</servlet-name>
  	<display-name>LoginService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LoginService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JoinService</servlet-name>
  	<display-name>JoinService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.JoinService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NaverService</servlet-name>
  	<display-name>NaverService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.NaverService</servlet-class>
  </servlet>
    <servlet>
  	<servlet-name>WriterService</servlet-name>
  	<display-name>WriterService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.WriterService</servlet-class>
  </servlet>
    <servlet>
    	<servlet-name>LogoutService</servlet-name>
    	<display-name>LogoutService</display-name>
    	<description></description>
    	<servlet-class>com.smhrd.controller.LogoutService</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>WriteCommentService</servlet-name>
    	<display-name>WriteCommentService</display-name>
    	<description></description>
    	<servlet-class>com.smhrd.controller.WriteCommentService</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>IdCheckService</servlet-name>
    	<display-name>IdCheckService</display-name>
    	<description></description>
    	<servlet-class>com.smhrd.controller.IdCheckService</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>LIkeService</servlet-name>
    	<display-name>LIkeService</display-name>
    	<description></description>
    	<servlet-class>com.smhrd.controller.LIkeService</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>FollowService</servlet-name>
    	<display-name>FollowService</display-name>
    	<description></description>
    	<servlet-class>com.smhrd.controller.FollowService</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ShowShoes</servlet-name>
    	<display-name>ShowShoes</display-name>
    	<description></description>
    	<servlet-class>com.smhrd.controller.ShowShoes</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>getPostService</servlet-name>
    	<display-name>getPostService</display-name>
    	<description></description>
    	<servlet-class>com.smhrd.controller.getPostService</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>MypageService</servlet-name>
    	<display-name>MypageService</display-name>
    	<description></description>
    	<servlet-class>com.smhrd.controller.MypageService</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>SearchService</servlet-name>
    	<display-name>SearchService</display-name>
    	<description></description>
    	<servlet-class>com.smhrd.controller.SearchService</servlet-class>
    </servlet>
  <servlet-mapping>
  	<servlet-name>LoginService</servlet-name>
  	<url-pattern>/LoginService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JoinService</servlet-name>
  	<url-pattern>/JoinService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NaverService</servlet-name>
  	<url-pattern>/NaverService</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>WriterService</servlet-name>
  	<url-pattern>/WriterService</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>LogoutService</servlet-name>
   	<url-pattern>/LogoutService</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>WriteCommentService</servlet-name>
   	<url-pattern>/WriteCommentService</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>IdCheckService</servlet-name>
   	<url-pattern>/IdCheckService</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>LIkeService</servlet-name>
   	<url-pattern>/LIkeService</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>FollowService</servlet-name>
   	<url-pattern>/FollowService</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>ShowShoes</servlet-name>
   	<url-pattern>/ShowShoes</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>getPostService</servlet-name>
   	<url-pattern>/getPostService</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>MypageService</servlet-name>
   	<url-pattern>/MypageService</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>SearchService</servlet-name>
   	<url-pattern>/SearchService</url-pattern>
   </servlet-mapping>
</web-app>
